nav.level
    p.level-item.has-text-centered
        a.link.is-info(href="world.html") Home
    //- p.level-item.has-text-centered
    //-     a.link.is-info(href="github.html") github trend
    //- p.level-item.has-text-centered
    //-     a.link.is-info(href="facebook.html") facebook trend
    //- p.level-item.has-text-centered
    //-     a.link.is-info(href="youtube.html") youtube trend
    p.level-item.has-text-centered
        a.link.is-info(href="programming.html") programming trend
    p.level-item.has-text-centered
        a.link.is-info(href="lihkg_vs_hkgolden.html") lihkg_vs_hkgolden trend
    p.level-item.has-text-centered
        a.link.is-info(href="jobs.html") jobs trend
    p.level-item.has-text-centered
        a.link.is-info(href="world.html") world trend
