
- var INDEED_WEBSITE = "/m/09ylwk";
- var CAREER_TIMES = "/m/08_4mr";

- var SIERRAWIRELESS = "/m/0f12dt";
- var TELIT = "/m/09xv1d";
- var SIMCOM = "/m/0cz9byq";

- var AI='/m/0mkz';
- var IOT='/m/02vnd10';
- var BIOMETRICS='/m/01qjv4';
- var BLOCKCHAIN='/m/0138n0j1';
- var ROBOTICS ='/m/02p0t5f';
