include meta.pug

include sentry.pug

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
script(src="./js/app.min.js")
link(rel="stylesheet", href="css/style.css")
