include _mixins.pug

doctype html
html(lang='en')
    head
        title google trends dashboard
        include head.pug
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                .columns
                    .column
                        +google_search_related_topics("javascript")
                    .column
                        +google_search_related_quries("javascript")
                    .column
                        +google_search_related_topics("python")
                    .column
                        +google_search_related_quries("python")
            .container
                .columns
                    .column
                        +google_trend_widget("US")
                    .column
                        +google_trend_widget("HK")
                    .column
                        +google_trend_widget("TW")
            .container
                .columns
                    .column
                        +google_search_topics("today 1-m","US")
                    .column
                        +google_search_topics("today 1-m","TW")
                    .column
                        +google_search_topics("today 1-m","HK")
            .container
                .columns
                    .column
                        +google_search_queries("today 1-m","US")
                    .column
                        +google_search_queries("today 1-m","TW")
                    .column
                        +google_search_queries("today 1-m","HK")
    include _footer.pug
