include _mixins.pug

doctype html
html(lang='en')
    head
        title google trends dashboard
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
        script(src="./js/app.min.js")
        link(rel="stylesheet", href="css/style.css")
    body
        section.section
            .container
                include _nav.pug

        sectino.section
            .container
                .columns
                    .column.
                        <h1 class="title">Jobs trend</h1>
                        <h2 class="subtitle">jobs trend on recruit page</h2>
        section.section
            .container
                .columns
                    .column
                        <h3 class="subtitle">jobs trend on recruit page global</h3>
                        +renderExploreWidget("TIMESERIES", {
                            'jobsdb':['','today 3-m'],
                            'linkedin':['','today 3-m'],
                            'recruit':['','today 3-m']
                            })
                    .column
                        <h3 class="subtitle">jobs trend on recruit page HK</h3>
                        +renderExploreWidget("TIMESERIES", {
                            'jobsdb':['HK','today 3-m'],
                            'linkedin':['HK','today 3-m'],
                            'recruit':['HK','today 3-m']
                            })
                    .column
                        <h3 class="subtitle">jobs trend on recruit page US</h3>
                        +renderExploreWidget("TIMESERIES", {
                            'jobsdb':['US','today 3-m'],
                            'linkedin':['US','today 3-m'],
                            'recruit':['US','today 3-m']
                            })
        sectino.section
            .container
                .columns
                    .column.
                        <h2 class="subtitle">keywords</h2>
        section.section
            .container
                .columns
                    .column
                        <h3 class="subtitle">jobs trend on recruit page global</h3>
                        +renderExploreWidget("RELATED_TOPICS", {
                            'jobsdb IT openings':['HK','today 12-m']
                            })
                    .column
                        <h3 class="subtitle">jobs trend on recruit page global</h3>
                        +renderExploreWidget("RELATED_TOPICS", {
                            'recruit IT openings':['','today 12-m']
                            })
                    .column
                        <h3 class="subtitle">jobs trend on recruit page global</h3>
                        +renderExploreWidget("RELATED_TOPICS", {
                            'linkedin IT openings':['','today 12-m']
                            })
