include _mixins.pug
include _vars.pug

doctype html
html(lang='en')
    head
        title google trends dashboard
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
        script(src="./js/app.min.js")
        link(rel="stylesheet", href="css/style.css")

    body
        section.section
            .container
                include _nav.pug

        sectino.section
            .container
                .columns
                    .column.
                        <h3 class="title">Job poster web trend</h3>

        section.section
            .container
                h3.subtitle comparison to the posters web(3 month)
                .columns
                    +renderExploreWidgetColumns(
                        "TIMESERIES",
                        ['jobsdb','linkedin','recruit', CAREER_TIMES, INDEED_WEBSITE],
                        ['today 3-m'],
                        ['','HK','TW','US']
                        )

        section.section
            .container
                h3.subtitle comparison to the posters web(12 month)
                .columns
                    +renderExploreWidgetColumns(
                        "TIMESERIES",
                        ['jobsdb','linkedin','recruit', CAREER_TIMES, INDEED_WEBSITE],
                        ['today 12-m'],
                        ['','HK','TW','US']
                        )

        section.section
            .container
                h3.subtitle search topics breakdown to HK job posters web(12 month)
                .columns
                    +renderExploreWidgetColumns(
                        "RELATED_TOPICS",
                        ['jobsdb'],
                        ['today 12-m'],
                        ['HK']
                        )
                    +renderExploreWidgetColumns(
                        "RELATED_TOPICS",
                        ['linkedin'],
                        ['today 12-m'],
                        ['HK']
                        )
                    +renderExploreWidgetColumns(
                        "RELATED_TOPICS",
                        ['recruit'],
                        ['today 12-m'],
                        ['HK']
                        )
                    +renderExploreWidgetColumns(
                        "RELATED_TOPICS",
                        [CAREER_TIMES],
                        ['today 12-m'],
                        ['HK']
                        )
                    +renderExploreWidgetColumns(
                        "RELATED_TOPICS",
                        [INDEED_WEBSITE],
                        ['today 12-m'],
                        ['HK']
                        )
