include _mixins.pug

doctype html
html(lang='en')
    head
        title google trends dashboard
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
        script(src="./js/app.min.js")
        link(rel="stylesheet", href="css/style.css")
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                .columns
                    .column
                        +lihkg_vs_hkgolden_interest_over_time


        section.section
            .container
                .columns
                    .column
                        +google_search_related_quries("lihkg")
                    .column
                        +google_search_related_quries("lihkg","youtube")

        section.section
            .container
                .columns
                    .column
                        +google_search_related_quries("hkgolden")
                    .column
                        +google_search_related_quries("hkgolden","youtube")


    include _footer.pug
