include _mixins.pug

doctype html
html(lang='en')
    head
        title lihkg vs hkgolden
        include head.pug
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                h3.subtitle lihkg vs hkgolden
                .columns
                    +renderExploreWidgetColumns(
                        "TIMESERIES",
                        ['lihkg','hkgolden','hkepc','uwants','批踢踢'],
                        ['today 3-m'],
                        ['','HK','TW','US']
                        )

        section.section
            .container
                .columns
                    .column
                        +google_search_related_quries("lihkg")
                    .column
                        +google_search_related_quries("hkgolden")
                    .column
                        +trending_search("dailytrends","HK")
                    .column
                        +trending_search("dailytrends","TW")
                    .column
                        +trending_search("dailytrends","US")

    include _footer.pug
