
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

meta(name="description" content="A simple Google trend dashboard" )
meta(name="keywords" content="louiscklaw, portfolio, google, trend, dashboard, pug, javascript " )
meta(name="author" content="https://louiscklaw.github.io" )
meta(name="geo.region" content="HK" )

meta(property="og:title" content="Google trend dashboard" )
meta(property="og:description" content="A simple Google trend dashboard" )
meta(property="og:url" content="https://louiscklaw.github.io/google-search-trends" )
meta(property="og:type" content="website" )
meta(property="og:image" content="https://raw.githubusercontent.com/louiscklaw/google-search-trends/master/docs/assets/sc.png" )
meta(property="og:locale" content="en" )

meta(property="twitter:card" content="summary" )
meta(property="twitter:site" content="@louislabs" )
meta(property="twitter:title" content="Google trend dashboard" )
meta(property="twitter:description" content="A simple Google trend dashboard" )
meta(property="twitter:creator" content="@louislabs" )
meta(property="twitter:image:src" content="https://raw.githubusercontent.com/louiscklaw/google-search-trends/master/docs/assets/sc.png" )
meta(property="twitter:domain" content="louiscklaw.github.io" )

meta(name="robots" content="index, follow" )
meta(name="revisit-after" content="1 days" )
