include _mixins.pug

doctype html
html(lang='en')
    head
        title programming dashboard
        include head.pug
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                .columns
                    +renderExploreWidgetColumns(
                        "TIMESERIES",
                        ['python','javascript','php','golang','RUST'],
                        ['today 3-m'],
                        ['','HK','TW','US']
                        )

        section.section
            .container
                h3.subtitle programming language distribution over the world
                .columns
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['python'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['javascript'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['php'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['golang'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['RUST'],
                        ['today 3-m'],
                        ['']
                        )

    include _footer.pug
