include _mixins.pug

doctype html
html(lang='en')
    head
        title google trends dashboard
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
        script(src="./js/app.min.js")
        link(rel="stylesheet", href="css/style.css")
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                .columns
                    +renderExploreWidgetColumns(
                        "TIMESERIES",
                        ['python','javascript','php','golang','RUST'],
                        ['today 3-m'],
                        ['','HK','TW','US']
                        )

        section.section
            .container
                h3 programming language distribution over the world
                .columns
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['python'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['javascript'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['php'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['golang'],
                        ['today 3-m'],
                        ['']
                        )
                    +renderExploreWidgetColumns(
                        "GEO_MAP",
                        ['RUST'],
                        ['today 3-m'],
                        ['']
                        )

    include _footer.pug
