include _mixins.pug

doctype html
html(lang='en')
    head
        title trends of the world by region
        include head.pug
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                h3.title Recent search of the world
                .columns
                    .column
                        .graph_title daily trends of HK
                        +trending_search("dailytrends","HK")
                    .column
                        .graph_title daily trends of TW
                        +trending_search("dailytrends","TW")
                    .column
                        .graph_title daily trends of US
                        +trending_search("dailytrends","US")
                    .column
                        .graph_title daily trends of GB
                        +trending_search("dailytrends","GB")
            .container
                .columns
                    .column
                        .graph_title daily trends of FR
                        +trending_search("dailytrends","FR")
                    .column
                        .graph_title daily trends of DE
                        +trending_search("dailytrends","DE")
                    .column
                        .graph_title daily trends of JP
                        +trending_search("dailytrends","JP")
                    .column
                        .graph_title daily trends of KR
                        +trending_search("dailytrends","KR")

    include _footer.pug
    script(src="js/app.js")
