include _mixins.pug

doctype html
html(lang='en')
    head
        title trends of the world by region
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
        script(src="https://ssl.gstatic.com/trends_nrtr/1937_RC01/embed_loader.js")
        script(src="./js/app.min.js")
        link(rel="stylesheet", href="css/style.css")
    body
        section.section
            .container
                include _nav.pug

        section.section
            .container
                .columns
                    .column
                        +trending_search("dailytrends","HK")
                    .column
                        +trending_search("dailytrends","TW")
                    .column
                        +trending_search("dailytrends","US")
                    .column
                        +trending_search("dailytrends","GB")
            .container
                .columns
                    .column
                        +trending_search("dailytrends","FR")
                    .column
                        +trending_search("dailytrends","DE")
                    .column
                        +trending_search("dailytrends","JP")
                    .column
                        +trending_search("dailytrends","KR")

    include _footer.pug
    script(src="js/app.js")
